<% provide(:title, '关于我们') %>
<h1>关于我们</h1>
<p>
	一个天才质疑了另一个天才，并最终证明：数学家研究的“有意义”的数学命题也可能是不可判定的。
</p>
<p>
	Wir müssen wissen, wir werden wissen.
</p>
<p>
	我们必须知道，我们必将知道。
</p>
<p>
<embed type="application/x-shockwave-flash" width="480" height="400" src="http://player.youku.com/player.php/sid/30149659/v.swf" quality="high" align="middle">
</p>
<p>你听到的，正是80年前，1930年，希尔伯特在他退休时演讲的最后六个单词，也是鼓舞一代数学家的六个单词。尽管当时第三次数学危机仍然阴魂不散，但他们坚信，数学大厦的基础是坚实的。他们也坚信，任何数学真理，只要通过一代又一代人的不断努力，都能用逻辑的推理将其整合到数学的大厦中。</p>
<p>这是何等的气魄！这是何等的梦想！</p>
