<% provide(:title, '帮助') %>
<h1>帮助</h1>
<h3>如何贡献</h3>
<ul>
	<li>Fork <a href="https://github.com/dragonszy/iwissen" target="_blank">iwissen project</a> on Github</li>
	<li>添加你的feature或bug fix</li>
	<li>通过Git Commit</li>
	<li>给我们发送Pull Request</li>
</ul>

<h3>如何捐赠</h3>

<h3>优秀教育资源一览表</h3>