<ul class="nav nav-tabs nav-stacked">
  <li class="nav-header">
    <%= @course.name %>
  </li>
  <% @lessons.each do |lesson| %>
  <li>
  <%= link_to lesson.name, "/courses/#{@course.title}/#{lesson.id}", :remote => true %>

  </li>
  <% end %>
</ul>