<ul class="nav nav-tabs nav-stacked">
        <li class="nav-header">
          <%= @course.name %>
        </li>
        <% @course.lessons.each do |lesson| %>
        <li>
          <a href="#"><%= lesson.name %></a>
        </li>
        <% end %>
</ul>